#html{
    background: white;
    height: 100%;
}

body {
    background: white;
    color: #545454;
    font-family: "Bayon";
    line-height: 1.5;
    margin: 0;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 10vh;
}

nav > ul {
    display: inline-block;
    list-style-type: none;
    padding: 0vh 3vw;
}

nav > ul > li {
    float: right;
    padding: 1vh 1.2vw;
    margin: 0;
}

nav > ul > li > a{
    font-size: 3vh;
    text-decoration: none;
}

.menu{
    margin: auto;
    padding-top: 1em;
    width: 95%;
}

.bar_og {
    background-color: #61A3BC;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.bar_og > ul > li > a {
    color: white;
    font-size: 2.7vh;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.bar_og > ul > li > a:hover {
    color: white;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.bar_scroll {
    background-color: #498CA6;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.bar_scroll > ul > li > a {
    font-size: 2.9vh;
    color: white;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.bar_scroll > ul > li > a:hover {
    color: #7BC8CB;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

header{
    padding: 0;
    margin: auto;
    display: flex;
    text-align: center;
    background-color: #61A3BC;
    width: 100%;
    height: 30em;
    position: relative;
    z-index: 0;
    
}

header span{
    font-size: 100px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 5%;
}

a:link{
    color: #61A3BC;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

a:visited{
    color: #61A3BC;
}

a:hover{
    color: #5CD5D3;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.body-container {
    padding: 0;
    margin: auto;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.body-container > div   {
    margin-left: 7%;
    padding-top: 1%;
}

.body-container > div> p{
    width: 90%;
    margin: auto;
    margin-left: 30px;
    font-size: 28px;
}

.body-container > div> ul{
    width: 95%;
    margin: auto;
    margin-left: 30px;
    font-size: 28px;
}

.about_toggle{
    margin: auto;
    display: inline-block;
    top: 50%;
}

.about_toggle > h1{
    float: left;
    margin-right: 50px;
}

.bio_toggle{
    padding-top: 2em;
    float: left;
}

.radio_butt > input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.radio_butt {
    padding: 15px;
    margin-right: 10px;
    border: 3px solid #C7D0D0;
    border-radius: 15px;
    background-color: white;
    font-family: Courier New;
    font-weight: 550;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.radio_butt:hover{
    background-color: #F3F3F3;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.active_radio{
    padding: 15px;
    margin-right: 10px;
    border: 3px solid #61A3BC;
    border-radius: 15px;
    background-color: white;
    font-family: Courier New;
    font-weight: 550;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.active_radio:hover{
    background-color: #E3F3F9;
    cursor: pointer;
}

.selected{
    padding: 0 10px 0 10px;
    width: 90%;
    margin: auto;
    margin-left: 30px;
    font-size: 28px;
    display: none;
    float: left;
}

.default_bio{
    width: 90%;
    margin: auto;
    margin-left: 30px;
    font-size: 28px;
    display: block;
}

.project-container {
    padding: 20px 50px;
    display: flex;
    width: 82vw;
    justify-content: space-between;
    
}

.project {
    width: 39vw;
}

.project_img{
    width: 39vw; 
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    
}

.project_img:hover{
    transform: scale(1.03);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.project_intro{
    width: 39vw;
    margin: auto;
    display: inline-block;
    top: 50%;
}

.project_title {
    font-size: 32px;
    width: 32vw;
    float: left;
    font-weight: 600;
}

.link_img{
    width: 1.5vw;
    padding-top: 0.5em;
    float: right;
    margin-right: 10px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.link_img:hover{
    transform: scale(1.09);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.project_descrip{
    font-size: 26px;
    text-align: left;
    width: 39vw;
}

.socials{
    position: fixed;
    right: 2vw;
    bottom: 2vh;
}

.socials > a > img{
    width: 3.5vw;
    height: auto;
    margin: 0 0.5vw;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.socials > a > img:hover{
    transform: scale(1.12);
    height: auto;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
}

h2 {
    margin-top: 1.3em;
}

b, strong {
    font-weight: 600;
    color: #498CA6;
}
